body {
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 290px;
    align-items: center;
}

#container span, 
#container label, 
#container textarea, 
#container #dropdown {
    width: 100%;
}
#container label
{
    margin: 10px 0 5px;
}
