body {
    width: 780px;padding: 10px;margin: 0;
}

/* parent container is a flex box */
#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container {
    margin: 10px 0px;
}

header {
    h1 {
        margin-bottom: 0;
    }
    h6 {
        margin-top: 0.3rem;
        font-size: 0.7rem;
    }
}

label {
    font-size: 1rem;
    right: 2rem;
}

input#versiontext {
    margin-left: 0.5rem;
}

#status,
button {
    margin: 2px;
}
button {
    padding: 0.25rem 0.35rem;
    outline: none;
    font-size: 0.7rem;
}

table {
    width: 760px;
    text-align: left;
    margin: 0;

    th {
        padding: 0.75rem 1rem;
        background-color: black;
        color: white;
        font-size: 0.75rem;
    }
    td {
        padding:  1rem;
        &.error { color: red; }
    }

    .status {text-align: center;width: 25px;}
    .site {}
    .result {}
    .hidden { display: none; }

    .icon {
        &.good { 
            background-color: green; color: white;
        }
        &.warning {
            background-color: yellow; color: black;
        }
        &.error {
            background-color: red; color: white;
        }
    }
}

